<div class="wrapper">
  <div class="header">
     {{>ImageInput src='../../../public/dots.svg' 
        width='22'
        header='22'
      }}
    {{#each (users)}}
      {{#if active}}<p>{{name}}</p>{{/if}}
    {{/each}}
  </div>
  <div class="messages">
    <div class="import">Привет!</div>
    <div class="import">Безусловно, современная методология разработки является качественно новой ступенью кластеризации усилий! Для современного мира граница обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании поставленных обществом задач.</div>
    <div class="export">Привет, да есть над чем задуматься: действия представителей оппозиции, вне зависимости от их уровня, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Предварительные выводы неутешительны: современная методология разработки способствует повышению качества дальнейших направлений развития.</div>
    <div class="export">{{>ImageInput src='../../../public/photo.jpg' 
      width='200'
      header='200'}}</div>  
  </div>
  <div class="bottom">
      {{>ImageInput src='../../../public/paperclip.svg' 
        width='22'
        header='22'
      }}
      <div class="input">
        {{> TextInput 
          value='' 
          label=''
          placeholder='Написать сообщение...' 
          errorText=''
        }}
      </div>
      {{>ImageInput src='../../../public/send.svg' 
        width='22'
        header='22'
      }}
  </div>
</div>