<div class="navigate-wrapper">
  <a href="#" page="login" class="link">Авторизация</a>
  <a href="#" page="registration" class="link">Регистрация</a>
  <a href="#" page="profile" class="link">Страница профиля</a>
  <a href="#" page="list" class="link">Страница со списком чатов</a>
  <a href="#" page="chat" class="link">Страница с чатом</a>
  <a href="#" page="error" class="link">404</a>
  <a href="#" page="server" class="link">500</a>
  <a href="#" page="edit" class="link">Редактирования пользователя</a>
</div>