<div class="textInput">
  <p class="textInput__label">{{label}}</p>
  <input {{#if placeholder}}{{placeholder}}{{/if}} type="text" class="textInput__input">
  <p class="textInput__error">{{errorText}}</p>
</div>