$border-small: 6px;


$link: #dfebf7;
$link-hover: #66beff;

$title: #fff;
$subtitle: #2d2e2f;
$error: #cf0638;

$button: #dfebf7;
$button-hover: #d9e8f8;

$background-gray: #f7f6f6;

$base-0: #fff;
$base-light: #dfebf7;
$base-1: #002947;
$base-2: #003e6b;
$base-3: #00538e;
$base-4: #0067b2;
$base-5: #007cd6;
$base-6: #0091f9;
$base-7: #1ea1ff;
$base-8: #42b0ff;
$base-9: #66beff;
$base-10: #89cdff;
