@import "../../styles/global.scss";

.passwordInput {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 4px;
    padding-top: 0;
    font-size: 12px;
    color: $base-0;
  }

  &__input {
    padding-left: 0;
    font-size: 14px;
    background: transparent;
    border: none;
    color: $base-0;
    border-bottom: 1px solid $base-10;
    outline: none;
  }

  &__error {
    margin-top: 4px;
    color: $error;
    font-size: 12px;
  }
}
