<div class="modals">
  {{>Modal title='Добавить пользователя' buttonLabel='Добавить' input='true'}}
  {{>Modal title='Удалить пользователя' buttonLabel='Удалить' input='true'}}
  {{>Modal title='Загрузить файл' buttonLabel='Поменять' inputFile='true' }}
  {{>Modal title='Файл загружен' buttonLabel='Поменять' img='true'}}
  {{>Modal title='Загрузить файл' buttonLabel='Поменять' bottomError='Нужно выбрать файл' inputFile='true'}}
  {{>Modal titleError='Ошибка, попробуйте ещё раз' buttonLabel='Поменять' inputFile='true'}}
</div>