<div class="errorWrapper">
  <h1>404</h1>
  <p>Не туда пришли</p>

<div class="img">
    {{>ImageInput src='../../../dist/walk.jpg' 
      width='100'
      header='auto'
    }}
  </div>
  {{> Button label='Назад к чатам' type='link'}} 
</div>